.box {
    border: 2px black;
    padding: 2px 2px 10px 2px;
    -webkit-box-shadow: 10px 10px 74px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 74px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 74px 0px rgba(0,0,0,0.2);

    .thumbnail {
        position: relative;
    }
    
    .caption {
        color: white;
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
    }
}

.box:hover {
    -webkit-box-shadow: 10px 10px 74px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 74px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 74px 0px rgba(0,0,0,0.75);
} 