<div class="box">
  <div class="thumbnail text-center">
    <img class="img-fluid" src="{{ photo }}" style="height: 150px;">
    <div class="caption">
    <b>{{ title }}</b>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img style="width: 32px; height: 32px;" src="{{ profile }}">
      <span style="padding-left: 5px;">{{ name }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col"><b>Location</b>
      <div>{{ location }}</div>
    </div>
    <div class="col"><b>Duration</b>
      <div>{{ duration }}</div>
    </div>
  </div>
</div>