<div style="text-align:center">
  <h1>
    Opportunities
  </h1>
</div>
<ngx-spinner></ngx-spinner>
<div class="container">
  <div class="row" *ngFor="let op3 of opportunities" style="padding-bottom: 20px;">
    <app-card *ngFor="let op of op3" class="col-md"
    [title] = "op.title"
    [location] = "op.location"
    [photo] = "op.photo"
    [profile] = "op.profile"
    [duration] = "op.duration"
    [name] = "op.organisation"></app-card>
  </div>
  <div
      infiniteScroll
      [infiniteScrollDistance]="0.1"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    ></div>
</div>